html, body {
  /* font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif; */
  font-family: monospace;
  /* background: #000; */
  /* background-image: linear-gradient(130deg,#000608 33%,#082b3f 67%); */
  /* background-repeat: no-repeat; */
  /* max-width: 500px; */
  height: 100%;
  margin: 0;
  /* padding-top: 22px; */
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: #f3f3f3;
  box-sizing: border-box;
  /* line-height: 1.5em; */
}

#app {
    height: 100%;
}

h2 {
    font-size: 2em;
    margin: 0;
    padding-top: 17px;
}

#main-wrapper {
    position: relative;
    background: #000;
    background-repeat: no-repeat;
    height: 100%;
}

.wrapper {
    max-width: 500px;
    margin: 0 auto;
}

.wrapper .flex {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.flex {
    margin: 5px;
}
::-webkit-calendar-picker-indicator { background:#f3f3f3; }
.set-date {
    width: 210px;
    background: transparent;
    color: #f3f3f3;
    border: none;
    padding: 3px 7px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}
button.date-btn {
    margin-left: 10px;
    padding: 3px 10px;
    border-radius: 5px;
    border: 1px solid #000608;
    font-size: 14px;
}

#progress-circle {
    position: relative;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
#progress-circle span {
    position: absolute;
    font-size: 11px;
    top: 7px;
    left: 5px;
}

p {
    margin: 0
}

.time-lapse {
    width: 120px;
    margin: 0 auto;
    display: flex;
    position: absolute;
    overflow: hidden;
    right: 5px;
    top: 25px;
}
.time-lapse p {
    text-align: center;
    border-bottom: 1px solid #f3f3f3;
    cursor: pointer;
    width: 56px;
}
.options {
    background: #efefef;
    border-bottom: 1px solid black !important;
    color: black;
    padding: 2px 5px;
    text-align: left !important;
}
.chakra {
    font-size: 22px;
    color: #ffd567;
    cursor: pointer;
    position: absolute;
    left: 9px;
    top: 5px;
}
.chakra-grid {
    display: grid; width: 350px; height: 350px; margin: 0 auto;
    grid-template-columns: auto auto auto auto auto; position: absolute;
    top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 0 10px 10px 0px;
    background: rgba(255, 213, 103, 0.87);
    z-index: 100;
}
.chakra-box {
    width: 60px; height: 60px; margin: 5px;
    opacity: 0
}
.bhava {
    border: 1px solid rgba(0, 6, 8, 0.6);
    color: rgba(0, 6, 8, 0.8);
    opacity: 1;
}
