body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  font-family: monospace;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 22px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.wrapper .flex {
    display: flex;
    justify-content: space-between;
}

.flex p {
    margin: 5px 0;
}
